.row{reviewer: true, "note-id" => @note.id}
  .col-xs-2
    - if @note.user == current_user
      = link_to 'Edit', edit_note_path(@note), class: "btn btn-primary btn-block"

    %div(ng-repeat="citation in citations")
      %p {{citation.comment}}

  .col-xs-10
    .panel-detail.panel-detail-padded
      By
      = link_to @note.user.login, user_path(@note.user.login)
      - if @note.user.full_name?
        (#{@note.user.full_name})

    #document= render 'page'
