%div{reviewer: true, "note-id" => @note.id}
  .row
    .col-xs-2
    .col-xs-10
      .panel-detail.panel-detail-padded
        By
        = link_to @note.user.login, user_path(@note.user.login)
        - if @note.user.full_name?
          (#{@note.user.full_name})
      %h3.panel-title= @note.name
      %hr
  .row
    .col-xs-2
      #citations(active-comments)
    .col-xs-10
      #document= render 'page'
