/* line 1, ../../app/assets/stylesheets/application.sass */
a {
  cursor: pointer;
}

/* line 4, ../../app/assets/stylesheets/application.sass */
.panel-title {
  padding: 0;
  margin: 0 0 8px;
}
/* line 7, ../../app/assets/stylesheets/application.sass */
.panel-title a {
  color: inherit;
  text-decoration: underline;
}

/* line 11, ../../app/assets/stylesheets/application.sass */
.panel-list-item {
  margin-bottom: 20px;
}

/* line 14, ../../app/assets/stylesheets/application.sass */
.panel-detail {
  font-size: 13px;
  line-height: 13px;
  color: #c0c1c2;
  font-weight: lighter;
}

/* line 20, ../../app/assets/stylesheets/application.sass */
.panel-detail.panel-detail-padded {
  margin: 7px 0;
}

/* line 23, ../../app/assets/stylesheets/application.sass */
footer {
  background-color: transparent;
  color: #dadfe2;
  font-weight: lighter;
  padding: 40px 0;
}
/* line 29, ../../app/assets/stylesheets/application.sass */
footer a {
  color: #dadfe2;
  text-decoration: underline;
}

/* line 33, ../../app/assets/stylesheets/application.sass */
.pre-simple {
  border-width: 0;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

/* line 38, ../../app/assets/stylesheets/application.sass */
#document {
  position: relative;
}

/* line 41, ../../app/assets/stylesheets/application.sass */
.range-comment-form {
  position: absolute;
  width: 400px;
}

/* line 45, ../../app/assets/stylesheets/application.sass */
.pop {
  background-color: #eff0f2;
  border-radius: 6px;
  padding: 20px;
}

/* line 50, ../../app/assets/stylesheets/application.sass */
.pop:before {
  content: "";
  border-style: solid;
  height: 0;
  position: absolute;
  width: 0;
}

/* line 57, ../../app/assets/stylesheets/application.sass */
.pop-bottom:before {
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #eff0f2 transparent;
  left: 23px;
  top: -9px;
}

/* line 63, ../../app/assets/stylesheets/application.sass */
.pop-top:before {
  border-width: 9px 9px 0 9px;
  border-color: #eff0f2 transparent transparent transparent;
  left: 23px;
  bottom: -9px;
}

/* line 69, ../../app/assets/stylesheets/application.sass */
.highlight {
  text-decoration: underline;
}

/* line 72, ../../app/assets/stylesheets/application.sass */
.highlight-live {
  background-color: #fffbcc;
}
