#main-content.home
  %h1 Help
  .text-blurb
    %h2 Start Writing
    %p It is easy to create a document to share
    %ul
      %li 
        Go to 
        = link_to new_account_note_url, new_account_note_path
      %li
        From 
        = link_to 'my account' , account_path
        click 'Create Document'
    %p We will create an empty document for you to start writing.
