#main-content.home
  .text-blurb
    %h2 Write
    %p
      <span class='note-color-0'>litterary</span> is a <span class='note-color-3'>community
      of people</span> that like to write. <span class='note-color-2'>Stories, poems, novels,
      diaries, essays</span>, everything is welcome!
    %p
      Some people like to write short stories about life, while others create complete new
      worlds. Whatever it is you like to do, we want you to <span class='note-color-6'>express yourself</span>.
  .text-blurb
    %h2 Share
    %p
      <span class='note-color-7'>Why keep it to yourself?</span> After all, we all want to be read.
      You can share your writings by joining groups or from your personal page.
    %p
      Others will be able to read what you wrote and comment on it. They can even
      <span class='note-color-4'>highlight</span> something and tell you what they think.</p>

  .text-blurb
    %h2 Inspire
    %p
      Everyone sees things different. Create a <span class='note-color-5'>group</span> about a 
      theme and see what other people think.
    %p 
      Sometimes you need a little push to get your <span class='note-color-1'>ideas going</span>. 
      Find a group with an interesting theme. You might discover that you have a lot to write about.</p>
