%h2 This week's issue

.row
  .col-sm-1
    %a.calendar.palette.palette-silver(href="/week/1")
      Week
      %span.calendar-number= @week.id
  .col-sm-11
    - @week.notes.each do |note|
      .panel-list-item
        %h4.panel-title= link_to note.name, note_path(note)
