html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  background-image: transparent; }

:focus {
  outline: 0; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

.input-field input {
  border: 1px solid #888888;
  padding: 3px; }
.input-field label {
  display: block;
  margin: 5px 0px 2px 0; }

.input-submit {
  margin-top: 5px;
  padding-top: 5px; }
  .input-submit input {
    border: 1px solid #888888; }

.input-check-box label {
  display: inline; }

.note-color-1 {
  border-top: 1px solid #ff4040;
  border-bottom: 1px solid #ff4040;
  background-color: #ff7373;
  color: black; }

.note-color-2 {
  border-top: 1px solid #8243d6;
  border-bottom: 1px solid #8243d6;
  background-color: #996ad6;
  color: black; }

.note-color-3 {
  border-top: 1px solid #ff4040;
  border-bottom: 1px solid #ff4040;
  background-color: #ff7373;
  color: black; }

.note-color-4 {
  border-top: 1px solid #ff4040;
  border-bottom: 1px solid #ff4040;
  background-color: #ff7373;
  color: black; }

.note-color-5 {
  border-top: 1px solid #ff4040;
  border-bottom: 1px solid #ff4040;
  background-color: #ff7373;
  color: black; }

.note-color-6 {
  border-top: 1px solid #ff4040;
  border-bottom: 1px solid #ff4040;
  background-color: #ff7373;
  color: black; }

.note-color-7 {
  border-top: 1px solid #ff4040;
  border-bottom: 1px solid #ff4040;
  background-color: #ff7373;
  color: black; }

.note-color-8 {
  border-top: 1px solid #ff4040;
  border-bottom: 1px solid #ff4040;
  background-color: #ff7373;
  color: black; }

html {
  height: 100%;
  background-color: #f1f1f1;
  position: relative; }

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #aaaaaa; }

a {
  color: #2865a0;
  text-decoration: underline; }
  a:hover {
    color: #555555;
    text-decoration: none; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

#navigation {
  width: 900px;
  margin: 0 auto;
  clear: both;
  height: 50px; }
  #navigation #global-links {
    float: left; }
  #navigation #user-links {
    float: right; }
  #navigation li {
    display: inline;
    line-height: 50px; }
    #navigation li a {
      display: inline-block; }

h1 {
  font-size: 1.5em;
  line-height: 2em; }

#user-message {
  width: 900px;
  margin: 0 auto;
  clear: both;
  margin-bottom: 10px; }

#content {
  width: 900px;
  margin: 0 auto;
  clear: both;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  color: #555555;
  position: relative;
  padding: 3px 0; }
  #content h2 {
    font-size: 1.2em; }

#sidebar {
  font-size: 1em;
  margin: 5px;
  position: absolute;
  width: 140px; }
  #sidebar h3 {
    padding-bottom: 3px;
    font-size: 1.2em; }
  #sidebar ul {
    padding-bottom: 10px; }
    #sidebar ul li {
      line-height: 1.2em; }
  #sidebar dl dt {
    display: block;
    margin-top: 5px;
    font-weight: bold; }
  #sidebar dl dd {
    display: block; }

#main-content {
  min-height: 300px;
  position: relative;
  margin-left: 150px;
  border-left: 1px solid #dddddd;
  padding: 0 10px; }
  #main-content h2 {
    margin-top: 25px;
    border-bottom: 1px solid #dadada;
    line-height: 1.5em; }
  #main-content.home h2 {
    margin-top: 0;
    border-bottom: 0 solid #dddddd; }
  #main-content.home .text-blurb {
    padding: 20px 0;
    line-height: 1.5em; }
  #main-content.home ul {
    list-style: disc inside; }

.default-message {
  color: #888888;
  line-height: 2em;
  font-style: italic; }

#footer {
  width: 900px;
  margin: 0 auto;
  clear: both;
  font-size: 1em;
  text-align: right;
  margin-top: 10px;
  height: 50px;
  line-height: 50px; }

.items-list li {
  margin: 10px 0 20px; }
  .items-list li .description {
    line-height: 1.2em;
    margin: 3px 0; }
  .items-list li .item-footer {
    margin: 3px 0;
    color: #888888; }
.items-list li.user {
  min-height: 50px;
  position: relative;
  padding-left: 65px; }
  .items-list li.user img {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

#main-content.editor .editor-header, #main-content.editor .editor-footer {
  height: 50px; }
#main-content.editor .editor-footer {
  line-height: 50px;
  text-align: right; }
#main-content.editor textarea {
  display: block;
  width: 100%;
  height: 500px; }

#note-text {
  font-family: georgia, garamond, serif;
  line-height: 1.5em;
  font-size: 1.2em;
  white-space: pre-wrap; }

#note-comments li {
  padding-left: 75px;
  position: relative;
  min-height: 75px;
  margin-bottom: 20px; }
#note-comments img {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #888888;
  padding: 3px;
  background-color: white; }
