.note-color-0 {
  border-top: 1px solid #45036f;
  border-bottom: 1px solid #45036f;
  background-color: #aa67d5;
  color: black; }

.note-color-1 {
  border-top: 1px solid #a40004;
  border-bottom: 1px solid #a40004;
  background-color: #fe7276;
  color: black; }

.note-color-2 {
  border-top: 1px solid #a65900;
  border-bottom: 1px solid #a65900;
  background-color: #ffbe73;
  color: black; }

.note-color-3 {
  border-top: 1px solid #188a00;
  border-bottom: 1px solid #188a00;
  background-color: #80ea69;
  color: black; }

.note-color-4 {
  border-top: 1px solid #034569;
  border-bottom: 1px solid #034569;
  background-color: #64aad0;
  color: black; }

.note-color-5 {
  border-top: 1px solid #a69900;
  border-bottom: 1px solid #a69900;
  background-color: #fff473;
  color: black; }

.note-color-6 {
  border-top: 1px solid #890043;
  border-bottom: 1px solid #890043;
  background-color: #e969a8;
  color: black; }

.note-color-7 {
  border-top: 1px solid #006561;
  border-bottom: 1px solid #006561;
  background-color: #5ccdc9;
  color: black; }
