.note-color-1 {
  border-top: 1px solid #ff4040;
  border-bottom: 1px solid #ff4040;
  background-color: #ff7373;
  color: black; }

.note-color-2 {
  border-top: 1px solid #8243d6;
  border-bottom: 1px solid #8243d6;
  background-color: #996ad6;
  color: black; }

.note-color-3 {
  border-top: 1px solid #ff4040;
  border-bottom: 1px solid #ff4040;
  background-color: #ff7373;
  color: black; }

.note-color-4 {
  border-top: 1px solid #ff4040;
  border-bottom: 1px solid #ff4040;
  background-color: #ff7373;
  color: black; }

.note-color-5 {
  border-top: 1px solid #ff4040;
  border-bottom: 1px solid #ff4040;
  background-color: #ff7373;
  color: black; }

.note-color-6 {
  border-top: 1px solid #ff4040;
  border-bottom: 1px solid #ff4040;
  background-color: #ff7373;
  color: black; }

.note-color-7 {
  border-top: 1px solid #ff4040;
  border-bottom: 1px solid #ff4040;
  background-color: #ff7373;
  color: black; }

.note-color-8 {
  border-top: 1px solid #ff4040;
  border-bottom: 1px solid #ff4040;
  background-color: #ff7373;
  color: black; }
