.row
  .col-xs-4
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.text_field :login, class: "form-control", placeholder: "Username"

      .form-group
        = f.password_field :password, class: "form-control", placeholder: "Password"

      = f.save 'Login &raquo;'.html_safe
