.row
  .col-sm-1
    %a.calendar.palette.palette-silver.calendar-current(href="/week/1")
      %span.calendar-number.fui-new

  .col-sm-11
    .panel-list-item
      - if @user.draft?
        %h4.panel-title= link_to @user.draft.name, draft_path
      - else
        %h4.panel-title= link_to "Start", draft_path

- @user.notes.each do |note|
  .row
    .col-sm-1
      %a.calendar.palette.palette-clouds(href="/week/1")
        Week
        %span.calendar-number 1
    .col-sm-11
      .panel-list-item
        %h4.panel-title= link_to note.name, note_path(note)
