.row
  .col-sm-2
    .calendar.palette.palette-clouds
      %span.calendar-number 0
      Weeks Streak

  .col-sm-10
    .row
      .col-sm-1
        %a.calendar.palette.palette-silver.calendar-current(href=draft_path)
          %span.calendar-number.fui-new

      .col-sm-9
        .panel-list-item
          - if @user.draft.name?
            %h4.panel-title= link_to @user.draft.name, draft_path
          - else
            %h4.panel-title= link_to "<em>Untitled</em>".html_safe, draft_path

    - @user.notes.each do |note|
      .row
        .col-sm-1
          %a.calendar.palette.palette-clouds{href: week_path(note.week)}
            Week
            %span.calendar-number= note.week.id
        .col-sm-9
          = NotesIndexItemStilt.new(note: note).to_html
