%h3 Documents
= link_to 'Create Document', new_note_path, class: "btn btn-primary"
- current_user.notes.each do |note|
  %h5= link_to note.name, note_path(note)
  = simple_format h(note.body.slice(0...100))
