.panel-title
  padding: 0
  margin: 0 0 8px
  font-size: bold 23px/40px
  a
    color: inherit
    text-decoration: underline

.panel-list-item
  margin-bottom: 20px

.panel-detail
  font-size: 13px
  line-height: 13px
  color: #c0c1c2
  font-weight: lighter

footer
  $color: #DADFE2
  background-color: transparent
  color: $color
  font-weight: lighter
  padding: 40px 0
  a
    color: $color
    text-decoration: underline
