a
  cursor: pointer

.panel-title
  padding: 0
  font-size: 25px
  a
    color: inherit

.panel-list-item
  margin-bottom: 20px

.panel-detail
  font-size: 13px
  line-height: 13px
  color: #c0c1c2
  font-weight: lighter

.panel-detail.panel-detail-padded
  margin: 7px 0

footer
  $color: #DADFE2
  background-color: transparent
  color: $color
  font-weight: lighter
  padding: 40px 0
  a
    color: $color
    text-decoration: underline

.pre-simple
  border-width: 0
  font-family: "Lato", Helvetica, Arial, sans-serif
  font-size: 16px
  white-space: pre-wrap
  word-break: normal
  word-wrap: normal

#document
  position: relative

.range-comment-form
  position: absolute
  width: 400px

.pop
  background-color: #eff0f2
  border-radius: 6px
  padding: 20px

.pop:before
  content: ""
  border-style: solid
  height: 0
  position: absolute
  width: 0

.pop-bottom:before
  border-width: 0 9px 9px 9px
  border-color: transparent transparent #eff0f2 transparent
  left: 23px
  top: -9px

.pop-top:before
  border-width: 9px 9px 0 9px
  border-color: #eff0f2 transparent transparent transparent
  left: 23px
  bottom: -9px

.highlight
  text-decoration: underline

.highlight-live
  background-color: #FFFBCC

.form-control-title, .form-control-body
  display: block
  font-family: "Lato", Helvetica, Arial, sans-serif
  outline: none
  padding: 0
  width: 100%

.form-control-title
  color: #34495e
  font-size: 25px
  font-weight: 700
  line-height: 1.1
  margin: -5px 0 -4px
  padding: 4px 0
  border-style: none
  background-color: #fafafa

.form-control-body
  color: rgb(52, 73, 94)
  background-color: #fafafa
  border: 1px solid #f0f0f0
  font-size: 16px
  line-height: 1.72222
  padding: 7px

.calendar
  display: block
  margin-bottom: 10px
  padding: 5px
  text-align: center
  &:hover
    color: #333
  .calendar-number
    font-weight: bold
    font-size: 26px
    vertical-align: middle

.calendar-current
  min-height: 57px
  line-height: 57px
  padding: 0

.note-index-item
  min-height: 45px
